.cards-container {
  width: auto;
  max-width: 90%;
  height: 369px;
  background-color: #fff;
  padding: 15px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  border: 2px solid #ebc08b;
}

.loader {
  width: 50px;
  animation: rotate 5s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 624px) {
  .cards-container {
    max-height: calc(100vh - 290px);
  }
}
