/* Modal */
.cart-modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-buyFormTitle {
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}

.cart-buySuccess {
  margin-top: 28px;
}

.cart-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.cart-formInput {
  width: 250px;
  height: 30px;
  padding-left: 10px;
  border-radius: 8px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
}

.cart-formButton {
  padding: 10px 15px;
  background-color: #ebc08b;
  border-radius: 20px;
  box-shadow: 1px 1px 1px black;
}

.cart-formButton:active {
  box-shadow: 1px 1px 1px black inset;
}

/* Vista carrito */
.cart-itemsContainer {
  background-image: url("../../images/mainBackground.webp");
  height: calc(100vh - 118px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-top: 40px;
}

.cart-mainTitle {
  width: 450px;
  max-width: 90%;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #49426c;
  color: #49426c;
  border-radius: 20px;
  white-space: normal;
}

.cart-emptyMessage {
  width: 450px;
  max-width: 90%;
  padding: 50px;
  line-height: 20px;
  text-align: center;
  background-color: #fff;
  border: 3px solid #49426c;
  color: #49426c;
  border-radius: 20px;
  white-space: normal;
}

.cart-container {
  width: 420px;
  max-width: 90%;
  margin-left: 5%;
  padding: 10px;
  background-color: #ebc08b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 30px;
  border-radius: 20px;
}

.cart-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid black;
}

.cart-middleContainer {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.cart-title,
.cart-price,
.cart-stock {
  width: auto;
}

.cart-trashButton {
  height: 50px;
  width: 50px;
  color: white;
  background-color: #49426c;
  border-radius: 20px;
}

.cart-totalContainer {
  width: 450px;
  max-width: 90%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border: 3px solid #49426c;
  border-radius: 20px;
  white-space: normal;
}

.cart-buyButton {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ebc08b;
  border-radius: 20px;
}

/* Correcciones para la altura del contenedor principal debido a footer */
@media (max-width: 917px) {
  .cart-itemsContainer {
    height: calc(100vh - 118px);
  }
}

@media (max-width: 628px) {
  .cart-itemsContainer {
    height: calc(100vh - 148px);
  }
}

@media (max-width: 500px) {
  .cart-itemsContainer {
    height: calc(100vh - 168px);
  }
}
