.contact--main {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("../../images/mainBackground.webp");
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 30px;
}

.contact--form_container {
  width: 600px;
  max-width: 90%;
  max-width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  border: 3px solid #ebc08b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 10px;
}

.contact--form_title {
  background-color: #8976e2;
  width: 400px;
  max-width: 100%;
  text-align: center;
  border-radius: 10px;
}

.contact--form_container > div {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact--form_input {
  margin-top: 20px;
  font-family: monospace;
  font-size: 15px;
  padding-left: 5px;
  padding-bottom: 3px;
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.contact--form_message {
  height: 90px;
  font-family: monospace;
  font-size: 15px;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.contact--form_button {
  margin-top: 10px;
  border: 1px solid black;
  background-color: #ebc08b;
  padding: 8px 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}
