.singIn--main {
  width: 100%;
  height: calc(100vh - 120px);
  background-image: url("../../images/mainBackground.webp");
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  column-gap: 60px;
  row-gap: 30px;
}

.singIng--form_container {
  width: 400px;
  max-width: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  border: 3px solid #ebc08b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  row-gap: 10px;
}

.singIng--form_title {
  background-color: #8976e2;
  width: 400px;
  max-width: 100%;
  text-align: center;
  border-radius: 10px;
}

.singIng--form_container > div > div {
  margin: 15px 0;
}

.singIng--form_label {
  position: relative;
  top: 5px;
  left: -7px;
}

.singIng--form_input {
  width: 300px;
  height: 30px;
  font-size: 15px;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.singIng--form_button {
  border: 1px solid black;
  background-color: #ebc08b;
  padding: 8px 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 2px black;
  cursor: pointer;
}

.singIng--form_button:onclick {
  box-shadow: 2px 2px 2px black inset;
}

@media (max-width: 470px) {
  .singIng--form_label {
    display: none;
  }
}
