:root {
  --bg: #b0a4ec;
  --bg-accent: #484a4d;
  --text-color: #333333;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

/* ----------------- NavBar Styles ----------------- */
a {
  color: var(--text-color);
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  position: absolute;
  left: 1720px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1800px) {
  .nav-item {
    left: auto;
    right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .nav-item {
    right: 60px;
  }
}

.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button svg {
  fill: #ebc08b;
  width: 20px;
  height: 20px;
}

.triangle {
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #b0a4ec;
  border-left: 6px solid transparent;
  position: absolute;
  top: 38px;
}

.dropdown {
  position: absolute;
  top: 50px;
  width: 300px;
  max-height: 500px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: auto;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(speed);
  padding: 0.5rem;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}
